$datepicker__background-color: #f0f0f0 !default;
$datepicker__border-color: rgb(37, 37, 37) !default;
$datepicker__highlighted-color: #3dcc4a !default;
$datepicker__muted-color: rgb(37, 37, 37) !default;
$datepicker__selected-color: hsl(0, 0%, 20%) !default;
$datepicker__text-color: #000 !default;
$datepicker__header-color: #000 !default;
$datepicker__navigation-disabled-color: lighten(
  $datepicker__muted-color,
  10%
) !default;

$datepicker__border-radius: 6px !default;
$datepicker__day-margin: 0.05rem !default;
$datepicker__font-size: 0.7rem !default;
$datepicker__font-family: "Helvetica Neue", helvetica, arial, sans-serif !default;
$datepicker__item-size: 1.4rem !default;
$datepicker__margin: 0.4rem 0.8rem !default;
$datepicker__navigation-button-size: 32px !default;
$datepicker__triangle-size: 8px !default;

// Custom variable
$datepicker__border-radius-dates: 100% !default;
