@use "../../styles" as *;

.date-picker {
  height: 24px;

  &__icon {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    padding-right: 3px;
    cursor: pointer;
  }

  &__text {
    font-size: 0.875rem;
    font-weight: weight(normal);
    cursor: pointer;
    vertical-align: middle;
    line-height: 20px;
    padding: 2px 2px;
  }
}
