@use "../../styles" as *;

.typography {
  color: font-color("300");
  margin: 8px 0;

  &.heading {
    font-size: 1.25rem;
    font-weight: weight(medium);
    color: font-color("200");
  }

  &.small {
    font-size: 0.75rem;
    color: font-color("500");
  }

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }

  & > a,
  & > a:visited,
  & > span {
    color: font-color("200");
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
