.drafts-heading {
  grid-column: 6 span;
  font-size: 22px;
  font-weight: 600;
  margin: 32px 0 16px;
  opacity: 0.4;

  @media only screen and (max-width: 1100px) {
    grid-column: 1 span;
    font-size: 22px;
    font-weight: 600;
    margin: 32px 16px 16px;
    opacity: 0.4;
  }
}
