.todo-input {
  caret-color: var(--green);
  position: relative;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  color: var(--main-color);
  width: 100%;
  padding: 0 8px;
  background-color: transparent;
  border: 0;
  height: 42px;
  box-sizing: border-box;
  outline-color: white;
  outline-width: 5px;
  border-bottom: 1px solid transparent;
  z-index: 20;

  &:focus {
    outline: 0;
  }

  &:hover {
    border-bottom: 1px solid var(--green);
  }

  &:focus:hover {
    border-bottom: 1px solid transparent;
  }

  &__wrapper {
    position: relative;

    &:focus-within:before {
      position: absolute;
      content: "";
      inset: -2px -4px;
      border-radius: 5px;
      background-color: white;
      box-shadow: 0 1px 4px 1px rgb(216, 216, 216);
      z-index: 10;
    }
  }
}
