@use "../../styles" as *;

.button {
  border-radius: 1.5rem;
  border: 1px solid blue(dark);
  padding: 0.5rem 1rem;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.75rem;

  & > svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 0.265rem;
  }

  &--contained {
    background-color: blue(dark);
    color: font-color("950");

    &:focus {
      box-shadow: inset 0px 0px 0px 3px white;
      border: 1px solid transparent;
    }
  }

  &--outlined {
    background-color: white;
    color: blue(dark);

    &:focus {
      box-shadow: inset 0px 0px 0px 3px blue(dark);
      border: 1px solid transparent;
    }
  }

  &--error {
    border: 1px solid red(dark);
    background-color: red(light);
    color: red(dark);
  }

  &--transparent {
    background-color: transparent;
  }

  &--small {
    border-radius: 16px;
    padding: 4px 12px;
    font-size: 0.875;
    line-height: 1.25rem;
    width: auto;
  }

  &:disabled {
    background-color: transparent;
    opacity: 0.5;
    cursor: not-allowed;
  }
}
